<html ng-app="directivaPers">
<head>
	<meta charset="utf-8" />
	<title>ANGULARJS customer directiva</title>
	<link rel="stylesheet" href="autocomplete-jquery-ui.structure.css">
	<link rel="stylesheet" href="style.css">
			   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script
	 src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="app.js"></script>
	<style>
	.circular{


		border-radius: 50%;
		width: 100px;
		height: 100px;
		display: inline-block;
	}
	.no-list li{

		list-style-type: none;
	}
	body,html{

		text-align: left;
		background-color: #eee;
		margin: 0px;

	}
	.BuscarL{

		text-align: center;
		background-color: #E4FEEA;
		margin: 0px;

	}
	</style>
</head>
<body ng-controller="appControl">
<input type="text" my-autocomplete="repos" placeholder="Buscar repositorio" class="BuscarL">
<ul class="BuscarL">
  <li ng-repeat="repo in posts" ng-hide="main_repo && main_repo != repo.name">
    <div class="circular" back-img="{{repo.owner.avatar_url}}">   </div>
    <h1 class="BuscarL">{{repo.name}}</h1>
    <a ng-show="main_repo"  ng-click="clean()" class="clean">      <b>Limpiar</b></a>
  </li>
</ul>
</body>
</html>
